<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<a href="/">
    <div id="ret">
        <button>New user</button>
    </div>
</a>
<table id="content">
    <tr>
        <th>name</th>
        <th>email</th>
    </tr>
    <tr th:each="user:${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{'/userInfo/'+${user.name}}" target="_blank">UserDetail</a></td>

    </tr>

</table>

</body>
</html>